node-red-sample.json
[{"id":"1dcc030c.1db3bd","type":"watson-conversation-v1","z":"9d936010.9e2068","name":"WCS","workspaceid":"79544fb8-42f0-48ba-b5ab-02d1f9d0c8c5","multiuser":false,"context":false,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/conversation/api","x":402,"y":117,"wires":[["841e9d4f.b6d4"]]},{"id":"841e9d4f.b6d4","type":"function","z":"9d936010.9e2068","name":"Output edit","func":"var text;\n\nmsg.payload.output.text.forEach(function(value, index) {\n    ( index === 0) ? text = value : text += \"。\"+value;\n});\nmsg.headers = {\"Access-Control-Allow-Origin\": \"*\"};\nmsg.payload.output = text;\n\nreturn msg;","outputs":1,"noerr":0,"x":559,"y":118,"wires":[["1b70e9.2b2ad718","29365aec.0ba1be"]]},{"id":"e9176878.600c08","type":"function","z":"9d936010.9e2068","name":"pre","func":"msg.payload = msg.payload.input;\nmsg.params = { \"context\": msg.req.body.context };\nif (msg.req.body.alternate_intents) {\n    msg.params.alternate_intents = true;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":268,"y":117,"wires":[["1dcc030c.1db3bd"]]},{"id":"c742d31.6ca863","type":"http response","z":"9d936010.9e2068","name":"","statusCode":"","headers":{},"x":772,"y":353,"wires":[]},{"id":"e17ac4a1.3c329","type":"http in","z":"9d936010.9e2068","name":"","url":"/conv","method":"post","upload":false,"swaggerDoc":"","x":106,"y":116,"wires":[["e9176878.600c08","7e679b39.3666e4"]]},{"id":"7e679b39.3666e4","type":"debug","z":"9d936010.9e2068","name":"入力","active":true,"console":"false","complete":"true","x":267,"y":46,"wires":[]},{"id":"29365aec.0ba1be","type":"switch","z":"9d936010.9e2068","name":"go2Discovery","property":"payload.output","propertyType":"msg","rules":[{"t":"cont","v":"enriched_body.entities.type::","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":163,"y":188,"wires":[["8e45b47b.ccba1","40d0ea19.1602cc"],["c742d31.6ca863"]]},{"id":"8e45b47b.ccba1","type":"function","z":"9d936010.9e2068","name":"function:query","func":"msg.discoveryparams = {};\nmsg.discoveryparams.query = msg.payload.output;\nreturn msg;","outputs":1,"noerr":0,"x":163,"y":284,"wires":[["3338967b.02497a","8ec982e9.649b9"]]},{"id":"3338967b.02497a","type":"watson-discovery-v1","z":"9d936010.9e2068","name":"Discovery-us-Demo_kit3","environmentname":"","environment_id":"8e9e079b-79f4-4840-8470-990123bf66a3","collection_id":"600aa6f8-d4e2-44a6-82d7-f60509129d9b","configurationname":"","configuration_id":"","collection_name":"","count":"5","passages":true,"nlp_query":false,"query":"","filter":"","aggregation":"","return":"title,contentsHtml","description":"","size":0,"discovery-method":"query","default-endpoint":true,"service-endpoint":"","x":190,"y":372,"wires":[["e1cd4bf2.b7cea"]]},{"id":"e1cd4bf2.b7cea","type":"function","z":"9d936010.9e2068","name":"function:output contentsHtml","func":"var text;\nmsg.search_results.results.forEach( function(value, index){\n (index ===0)?text=\"<html><br>\"+value.title+\"<br>\"+value.contentsHtml:text+=\"<br><br>\"+value.title+\"<br>\"+value.contentsHtml;\n});\nmsg.headers = {\"Access-Control-Allow-Origin\": \"*\"};\n//msg.payload = text+\"</html>\";\nmsg.payload.output = text+\"</html>\";\nreturn msg;","outputs":1,"noerr":0,"x":195,"y":472,"wires":[["68dc43ca.63bfb4","c742d31.6ca863"]]},{"id":"68dc43ca.63bfb4","type":"debug","z":"9d936010.9e2068","name":"msg.discovery","active":true,"console":"false","complete":"true","x":451,"y":363,"wires":[]},{"id":"8ec982e9.649b9","type":"debug","z":"9d936010.9e2068","name":"WDS Input","active":true,"console":"false","complete":"payload.output","x":380.5,"y":289,"wires":[]},{"id":"1b70e9.2b2ad718","type":"debug","z":"9d936010.9e2068","name":"","active":true,"console":"false","complete":"true","x":716,"y":75,"wires":[]},{"id":"40d0ea19.1602cc","type":"debug","z":"9d936010.9e2068","name":"","active":true,"console":"false","complete":"payload.output","x":533,"y":187,"wires":[]}]
